*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #a8aaa5;
    background-image:url("/Project-DJ/img/djimg.jpg");
    background-position: center;
    background-size: contain;
    opacity: 1;
}
/* OBS ADD FONTS */

/* grid container about product */
.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr 1fr;
    border: 2px solid black;
    width: 100vw;
    height: auto;
    gap: 20pt;
    align-items: center;
    padding: 20px;
}
.description {
    grid-column: 1 /4;
    border: 10px solid rgb(75, 75, 80);
    border-radius: 15px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    height: auto;
    width: auto;
    background-color: #d8f2b8;

}

.who {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border: 2px solid black;
    width: auto;
    border-radius: 5px;
    padding: 10px;
    background-color: #d8f2b8;
    text-align: center;
    height: 40vh;

}

.why {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border: 2px solid black;
    width: auto;
    border-radius: 5px;
    padding: 10px;
    background-color: #d8f2b8;
    text-align: center;
    height: 40vh;
    align-items: baseline;

}
.offer {
    grid-column: 3 / 3;
    grid-row: 2 / 3;
    border: 2px solid black;
    width: auto;
    border-radius: 5px;
    padding: 10px;
    background-color: #d8f2b8;
    text-align: center;
    height: 40vh;
}
/* extra tjänster */
.moments {
    display: flex;
    flex-direction: column;
    background-color: #d8f2b8;
    height: 15vh;
    width: auto;
    padding: 20px;
    opacity: 0.8;
    align-items: center;
    font-size: 50px;
    font-family: Merriweather, sans-serif; 
    color:#323b26;
    font-weight: 400;
}

ul {
    list-style: none; 
}


/* Font and extra styles */

h2, h3 {
    color:#323b26;
    font-weight: bold;
    font-family: Merriweather, sans-serif; 
    font-size: 20pt;
}
h2 {
    font-size: 30px;
}
p {
    margin-top: 10px;
    font-family: Roboto, sans-serif;
    line-height: 18pt;
    font-size: 18pt;
}


/* Buttons */

.call-to-action {
    height: 100pt;
    width: 150pt;
    align-items: center;
    border-radius: 20px;
    margin-top: 20px;
    background-color:#323b26;
    color: white;
    opacity: 1;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    transition-duration: 0.4s;

}
.call-to-action:hover {
    background-color:#90eb21;
    color: black;
    font-size: 23px;
    font-weight: 1000;
}
.review-container {
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border: 2px solid white;
}

/* media queries */
/* mobil */
@media screen and (max-width: 768px) {
.product-container {
    display: grid;
    grid-template-columns: 1fr; /*only one fr in mobile*/
    grid-template-rows: auto auto auto auto;
    gap: 10px;

}
/* .description, .who, .why, .offer {
    grid-column: 1 / 2;
    height: auto;
    padding: 10px;
    margin: 0;
}  */
/* .who, .why, .offer {
    grid-column: 1 / 2 ;
} */
/* .why {
    grid-column: 1 / 4;
}
.offer {
    grid-column: 1 / 5;

} */
}