/*----- General Styles -----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("/image/img_Landing_Page/Welcome.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*----- Glass Effect for Forms -----*/

.form_Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 30px;
  /* background: rgba(255, 255, 255, 0.1); */
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border-top: 2px solid rgba(248, 248, 248, 0.5);
  box-shadow: 20px 20px 50px rgb(0, 0, 0, 1);
  color: #fff;
  text-align: center;
  margin: 20px;
}

h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
}
.neonText {
  animation: flicker 1.5s infinite alternate;
  color: #fff;
}

input,
select {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  outline: none;
}

/*----- Button Styles -----*/
button,
.sign_Up {
  display: block;
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  font-size: 18px;
  background: #d8f2b8;
  border-radius: 5px;
  border: none;
  color: #333;
  cursor: pointer;
  transition-duration: 0.5s;
  transform: scale(1.1);
}

button:hover,
.sign_Up:hover {
  background: rgb(190, 39, 178);
  color: white;
  transform: scale(1.05);
}

.sign_Up {
  text-decoration: none;
  text-align: center;
}

.form_Checkbox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

/*----- Form Labels -----*/

.form_Checkbox label {
  font-size: 1.5rem;
  color: #fff;
}
.form_Checkbox input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

label {
  margin: 10px 0 5px;
  font-size: 1.5rem;
  color: #fff;
}

/*----- Input Styling -----*/
input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

/*----- Flickering animation -----*/

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #d8f2b8,
      0 0 80px #d8f2b8, 0 0 90px #d8f2b8, 0 0 100px #d8f2b8, 0 0 150px #d8f2b8;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

/*----- Adjusting Gender Select -----*/
select {
  height: 50px;
  font-size: 1rem;
}

/*----- Centering the Forms -----*/
section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.location {
  border: #c37272;
  border-width: 3px;
  border-style: solid;
}
