*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color:rgba(216, 242, 184, 0.2);
    padding-top: 100px;
}

.primary{
    background-color:#d8f2b8;
}

.white{
    color:#FFFFFF;
}

h1{
    font-family: "Roboto", system-ui;
    font-weight: 900;
    font-style: normal;
    font-size: 72px;
    color:#000000;
    letter-spacing: 1px;
    line-height: 2px;
}

h2{
    font-family: "Roboto", system-ui;
    font-weight: 800;
    font-style: normal;
    font-size: 50px;
    color:#000000;
    letter-spacing: 2px;
    margin: 20px;
}

.tc{
    text-align: center;
}

p,
span,
.shop{
    font-family: "Merriweather", serif;
    font-weight: 400;
    color:#0b0b0b;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 25px;
}

.shop{
    font-size: 14px;
}

a{
    color:black;
    text-decoration: none;
}

a:hover{
    color:#556B2F;
}

.tc{
    text-align: center;
}

.pb50{
    padding-bottom: 50px;
}

.pt50{
    padding-top: 50px;
}
.mr20{
    margin-right: 20px;
}

.mb20{
    margin-bottom: 20px;
}

.m10{
    margin: 10px;
}

.mb100{
    margin-bottom: 100px;
}
.none{
    display: none;
}

.wrap{
    flex-wrap: wrap;
}

.flex{
    display:flex;
}

.j__center{
    justify-content: center;
}

.j__evenly{
    justify-content:space-evenly;
}

.a__center{
    align-items: center;
}

.a__start{
    align-items: flex-start;
}
.a__baseline{
    align-items: baseline;
}

.col{
    flex-direction: column;
}

.gap10{
    gap: 10px;
}

a,
button,
.icon{
    cursor: pointer;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 2px solid rgb(203, 199, 199);
}

.header__top{
    text-align: center;
    width: 100%;
    height: 25px;
    background-color: #556B2F;
}

.header__text{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #FFFFFF;
    font-size: 10px;
    word-spacing: 2px;
    letter-spacing: 2px;
}

.header__email{
    font-weight: 400;
    color:#FFFFFF;
}

.header__email:hover{
    color:#d8f2b8;
}

.navigation__bar{
    background-color: black;
    height: 5rem;
}

.logo{
    width:3.5rem;
    border-radius: 50px;
    margin-left:2rem;
}

.navigation__container{
    margin-left: auto;
    gap: 20px;
}

.link, 
.dropdown{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#f5f5f5;
    margin: 0 2rem;
    transition: 0.1s ease-in-out;
    letter-spacing: 1px;
}

.link:hover{
    color: #d8f2b8;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    font-size: 17px;
    border: none;
    color:#f5f5f5;
    background: none;
    letter-spacing: 1px;
    transition: 0.1s ease-in-out;
}

.dropbtn:hover{
    color:#d8f2b8;
}

.dropdown-content {
    position: absolute;
    background-color: #FFFFFF;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 0px 5px 5px 0px;
    z-index: 1;
}

.dropdown-content a {
    color: #556B2F;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #d8f2b8;
    color: #556B2F;
}

.navigation__bar-btn{
    margin-left: auto;
    margin-right: 25px;
}

.btn{
    padding: 10px 25px;
    margin-left: 20px;
    border-radius: 20px;
    border: 0px;
    background-color: #d8f2b8;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    color:#556B2F;
    letter-spacing: 1px;
}

.btn:hover{
    background-color:#cbf696;
    color:#3d4d22
}

.join{
    background-color: inherit;
    border: 1px solid #d8f2b8;
    color:#d8f2b8;
 }

 .join:hover{
    color:#556B2F;
 }

 /*DJ PAGE*/

 .dj__page-hero-container{
    max-width: 1200px;
    width: 100%;
    min-height: 650px;
    margin:auto;
 }

 .equipment__section-title{
    width: 100%;
    margin: auto;
 }
 
.image{
    width: 300px;
    border-radius: 4px;
    box-shadow: 2px 2px 5px black;
}

/**Equipment**/
.equipment__section{
    width: 100%;
    min-height: 400px;
    margin: auto;
}

.primary__section-info{
    max-width: 1200px;
    width: 100%;
    min-height: auto;
    margin: auto;
}

.equipment__image{
    padding-top: 50px;
}
.image_eq{
    width: 300px;
    height: auto;
}

.image_eq img{
    max-width: 200px;
    min-height: 200px;
    margin: 10px;
}

/**NEXT EVENTS**/

.bg {
    background: url("../image/dj-page/event.jpg") no-repeat center center;
    background-size: cover;
}

.next__events-container{
    max-width: 1200px;
    width: 100%;
    min-height: 500px;
}

.event{
    max-width: 300px;
    min-height: 200px;
    width: 100%;
    height: auto;
    border: 1px solid hsla(82, 39%, 30%, 0.5);
    border-radius: 4px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
    margin: 30px;
    background-color: #d8f2b8;
    transition: 0.3s ease-in-out;
}

.event:hover{
    background-color:#ffffff;
}

 /*FOOTER*/
 footer{
    width: 100%;
    height: 300px;
    background-color: #191919;
 }

 .icon {
    width: 4rem;
    transition: transform 0.3s ease-in-out;
}

.icon:hover {
    transform: scale(1.1);

}

 .m__auto{
    margin: auto;
 }

 .m20{
    margin: 20px;
 }

 .p10{
    padding: 10px;
 }

 .tc{
    text-align: center;
 }

 .ml2rem{
    margin-left:2rem;
 }

 .footer__icons{
    margin-right: 20px ;
 }

/*RESPONSIVE NAVBAR*/
@media screen and (max-width: 1024px) {
    .navigation__container {
        position: absolute;
        right: 0;
        top: 6.5rem;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        transform: translateX(100%);
    }

    .dropdown{
        display: none;
    }

    .navigation__container.active {
        display: flex;
        background-color: rgb(0, 0, 0);
        transform: translateX(0%);
    }

    .navigation__bar-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 20px 20px;
    }

    .btn{
        padding: 15px 30;
        margin: 20px 0;
    }
    
    .link{
        padding-top:30px;
    }

    .responsive{
        display: flex;
    }

    .burger {
        display: block;
        cursor: pointer;
        margin-left: auto;
        margin-right: 20px;
    }

    .burger div {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 5px;
        transition: all 0.3s ease;
    }

    .burger.toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger.toggle .line2 {
        opacity: 0;
    }

    .burger.toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}