*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color:rgba(216, 242, 184, 0.2);
    padding-top: 85px;
}

.primary{
    background-color: #d8f2b8;
}

.shadow{
    box-shadow: 0 15px 20px #b8b6b6;
}

h1{
    font-family: "Roboto", system-ui;
    font-weight: 900;
    font-style: normal;
    font-size: 72px;
    color:#000000;
    letter-spacing: 1px;
    line-height: 2px;
}

h2{
    font-family: "Roboto", system-ui;
    font-weight: 800;
    font-style: normal;
    font-size: 50px;
    color:#000000;
    letter-spacing: 2px;
    margin: 20px;
}

.tc{
    text-align: center;
}

p{
    font-family: "Merriweather", serif;
    font-weight: 400;
    color:#0b0b0b;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 25px;
}

a{
    text-decoration: none;
}

.cit{
    font-family: "Merriweather", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1px;
}

.none{
    display: none;
}

.flex{
    display:flex;
}

.wrap{
    flex-wrap: wrap;
}

.j__center{
    justify-content: center;
}

.j__evenly{
    justify-content: space-evenly;
}

.j__flex-start{
    justify-content: flex-start;
}

.a__center{
    align-items: center;
}

.col{
    flex-direction: column;
}

a,
.icon{
    cursor: pointer;
}

.mb20{
    margin-bottom: 20px;
}

.p20{
    padding:20px;
}

.right{
    right:-30%;
}

.left{
    left:-30%;
}

.w700{
    width: 700px;
}

.w400{
    width: 400px;
}

.m__auto{
    margin: auto;
 }

 .m20{
    margin: 20px;
 }

.p100{
    padding: 100px;
}

 .p10{
    padding: 10px;
 }

 .tc{
    text-align: center;
 }

 .ml2rem{
    margin-left:2rem;
 }

 .pointer{
    cursor:pointer;
 }


header{
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 2px solid rgb(203, 199, 199);
    z-index:1000;
}

.header__top{
    text-align: center;
    width: 100%;
    height: 25px;
    background-color: #556B2F;
}

.header__text{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #FFFFFF;
    font-size: 10px;
    word-spacing: 2px;
    letter-spacing: 2px;
}

.header__email{
    font-weight: 400;
    color:#FFFFFF;
}

.header__email:hover{
    color:#d8f2b8;
}

.navigation__bar{
    background-color: black;
    height: 5rem;
}

.logo{
    width:3.5rem;
    border-radius: 50px;
    margin-left:2rem;
}

.navigation__container{
    margin-left: auto;
}

.link, 
.dropdown{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#f5f5f5;
    margin: 0 2rem;
    transition: 0.1s ease-in-out;
    letter-spacing: 1px;
}

.link:hover{
    color: #d8f2b8;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    font-size: 17px;
    border: none;
    color:#f5f5f5;
    background: none;
    letter-spacing: 1px;
    transition: 0.1s ease-in-out;
}

.dropbtn:hover{
    color:#d8f2b8;
}

.dropdown-content {
    position: absolute;
    background-color: #FFFFFF;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 0px 5px 5px 0px;
    z-index: 100;
}

.dropdown-content a {
    color: #556B2F;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #d8f2b8;
    color: #556B2F;
}

.navigation__bar-btn{
    margin-left: auto;
    margin-right: 25px;
}

.btn{
    padding: 10px 25px;
    margin-left: 20px;
    border-radius: 20px;
    border: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    color:#556B2F;
    letter-spacing: 1px;
}

.btn:hover{
    background-color:#cbf696;
    color:#3d4d22
}

.join{
    background-color: inherit;
    border: 1px solid #d8f2b8;
    color: #d8f2b8;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
 }

 .join:hover{
    background-color: #d8f2b8;
    color:#556B2F;
 }

.hero{
    position:relative;
    background: url("../image/gallery-image/our-dj-image/our-dj-hero.jpg") no-repeat center center/cover;
    max-width: 1200px;
    width: 100%;
    height: 90vh;
    border-radius: 4px;
    margin: auto;
    margin-bottom: 100px;
}

.hero-text{
    position: absolute;
    top: 50%;  
    left: 5%;  
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 4px;
    background-color: rgba(216, 242, 184, 0.5);
    box-shadow: 2px 2px 9px black; 
    color: rgb(7, 7, 7);  
    text-align: left;
}


/*GALLERY INFO*/

.gallery__info-container{
    margin-top: 150px;
}

.galleri__info-text{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    position:relative;
}

.wave-sound{
    position: absolute;
    bottom:101%;
    width: 700px;
}

/*GALLERY PHOTO CONTAINER*/

.gallery__photo-container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    gap: 40px;
}

.photo-container {
    position: relative;
}

.dj-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#3d4d22;
    border-radius: 20px;
    opacity:0;
    transition: opacity 0.3s ease-in-out;
}

.photo-container:hover .dj-name{
    opacity:1;
}


.image{
    width: 200px;
    height: auto;
    border-radius: 4px;
    opacity: 0.5;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.image:hover{
    transform: scale(1.03);
    opacity: 1;
}

/*OUR EVENT CONTAINER*/
.our__event-container{
    max-width: 1200px;
    width: 100%;
    margin:auto;
    margin-top: 100px;
}

.our__event-info{
    max-width: 500px;
    width: 100%;
    margin-right:50px;
    text-align: start;
}

.our__event-img{
    max-width: 300px;
    width: 100%;
    border-radius: 4px;
}

/*CHECK OTHER GALLERY*/

.other__gallery-bg{
    background: url("../image/gallery-image/our-dj-image/other-gallery-bg.jpg")no-repeat center center/cover;
}

.other__gallery-heading,
.other__gallery-p{
    color:#FFFFFF;
}



.gallery__container {
    position: relative;
    max-width: 300px;
    width: 100%;
    height: auto;
    border: 1px solid hsla(82, 39%, 30%, 0.5);
    border-radius: 4px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
    margin: 30px;
    background-color: #d8f2b8;
}

.more__gallery-container {
    gap: 40px;
}

.gallery-link {
    display: inline-block;
    margin-top: 20px;
    background-color:#ecf8de;
    border: 1px solid #556B2F;
    color: #556B2F;
    align-items:flex-end;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.gallery-link:hover {
    background-color: #556B2F;
    color: #d8f2b8;
}

/*FOOTER*/
 footer{
    width: 100%;
    height: 300px;
    background-color: #191919;
 }

 .icon {
    width: 4rem;
    transition: transform 0.3s ease-in-out;
}

.icon:hover {
    transform: scale(1.1);

}

 .footer__icons{
    margin-right: 20px ;
 }


/*RESPONSIVE NAVBAR*/
@media screen and (max-width: 1024px) {
    .navigation__container {
        position: absolute;
        right: 0;
        top: 6.5rem;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        transform: translateX(100%);
    }

    .dropdown{
        display: none;
    }

    .navigation__container.active {
        display: flex;
        background-color: rgb(0, 0, 0);
        transform: translateX(0%);
    }

    .navigation__bar-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 20px 20px;
    }

    .btn{
        padding: 15px 30;
        margin: 20px 0;
    }
    
    .link{
        padding-top:30px;
    }

    .responsive{
        display: flex;
    }

    .burger {
        display: block;
        cursor: pointer;
        margin-left: auto;
        margin-right: 20px;
    }

    .burger div {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 5px;
        transition: all 0.3s ease;
    }

    .burger.toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger.toggle .line2 {
        opacity: 0;
    }

    .burger.toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}
