html,
body {
  height: 100%;
  font-family: "Jura", sans-serif;
  color: #30cfd0;
  background: linear-gradient(
    105deg,
    rgb(216, 242, 184) 0%,
    rgb(139, 102, 241) 100%
  );
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: #1028fa;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 100px;
}

.nav-links li {
  padding: 5px 14px;
  transition: background-color 0.3s ease;
  position: relative;
  display: flex;
  align-items: center;
}

.nav-links li:hover {
  background-color: #d8f2b8;
  border-radius: 5px;
}

.dropdown .dropbtn {
  font-size: 18px;  
  border: none;
  outline: none;
  color: #1028fa;
  padding: 5px 14px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: 0;
}

.dropdown:hover .dropbtn {
  background-color: #d8f2b8;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
  border-radius: 5px;
  overflow: hidden;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


